{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}


        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12">

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'ionictutorial'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>


    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">modules</div>
            <ol class="list-group">
                <li><a href="introduction-to-shell.html">Introduction to Shell</a></li>
                <li><a href="getting-started-with-shell.html">Getting started with Shell Scripting</a></li>
                <li><a href="modularizing-shell-script.html">Modularizing Shell Script</a></li>
                <li><a href="debugging-shell-script.html">Debugging Shell Script</a></li>
                <li><a href="scheduling-shell-script.html">Scheduling Shell Script</a></li>
                <li><a href="shell-usecases.html">Shell Usecases</a></li>
                <li><a href="vim-editor-hacks.html">Vim Editor Hacks</a></li>
                <li><a href="awk-hacks.html">AWK Hacks</a></li>
            </ol>
            <p></p>
        </div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://thirunavukkarasu.github.io/shell-scripting-tutorial" data-text="Shell programming with #Linux or #Unix. #shell #scripting">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <a href="https://twitter.com/thiruhuman" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow @thiruhuman</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

</div>

</div>

{% include bootstrap-footer.html %}
